.hero {
  height: 90vh;
  background: url("https://images.unsplash.com/photo-1522071820081-009f0129c71c")
    no-repeat center center/cover;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* DARK OVERLAY */
.overlay {
  background: rgba(0, 0, 0, 0.6);
  padding: 40px;
  text-align: center;
  color: white;
  width: 100%;
}

/* TEXT STYLING */
.hero-title {
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 20px;
}

.hero-subtitle {
  font-size: 20px;
  margin-bottom: 15px;
}

.hero-date {
  font-size: 24px;
  color: #ffcc00;
  margin-bottom: 10px;
}

.hero-org {
  font-size: 16px;
}