.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  background-color: #0c1c5a;
  color: white;
}

/* LEFT */
.nav-left {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo {
  width: 60px;
  height: 60px;
  border-radius: 40px;
}

.title {
  font-size: 20px;
  font-weight: bold;
}

/* CENTER */
.nav-links {
  display: flex;
  gap: 25px;
  list-style: none;
}

.nav-links li {
  cursor: pointer;
  font-size: 14px;
}

.nav-links li:hover {
  color: #ffcc00;
}

/* RIGHT */
.nav-buttons {
  display: flex;
  gap: 10px;
}

.btn {
  padding: 8px 15px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
}

.outline {
  background: transparent;
  border: 1px solid white;
  color: white;
}

.filled {
  background: #ff9d2f;
  color: black;
}