.submission {
  padding: 60px 20px;
  max-width: 1000px;
  margin: auto;
}

.submission h2 {
  text-align: center;
  color: #0c1c5a;
  margin-bottom: 20px;
}

.submission h3 {
  margin-top: 30px;
  color: #444;
}

.submission h4 {
  margin-top: 20px;
}

.submission p {
  margin-bottom: 15px;
  line-height: 1.6;
}

.submission ul {
  margin-left: 20px;
  line-height: 1.6;
}

.submission a {
  color: blue;
  text-decoration: underline;
}
.download-link {
  color: #0c1c5a;
  font-weight: bold;
  text-decoration: underline;
  cursor: pointer;
}